@import '../../styles/globals.scss';

.header {
  background-color: var(--color-background);
  justify-content: space-between;

  &-wrapper {
    position: sticky;
    top: remify(-1px);
    z-index: 5;
  }

  &,
  &-left,
  &-nav__list {
    display: flex;
    align-items: center;
  }

  &-nav {
    margin-left: remify(40px);

    &__logo {
      padding: remify(10px) 0;

      > span {
        vertical-align: middle;
      }
    }
  }

  &-nav__list {
    margin: 0;
    padding: 0;
    
    &-item {
      margin-left: remify(24px);

      &:first-child {
        margin: 0;
      }
    }

    &-cta {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: remify(2px);
        background-color: var(--color-dark-blue);
        transition: width .3s ease;
      }

      &:hover::before {
        left: 0;
        width: 100%;
      }
    }
  }
}
