@import '../../styles/globals.scss';

.header {
  position: sticky;
  top: remify(-1px);
  z-index: 3;
  background-color: var(--color-background);
  justify-content: space-between;

  &,
  &-left,
  &-nav__list {
    display: flex;
    align-items: center;
  }

  &-right {
  }

  &-nav {
    margin-left: remify(40px);

    &__logo {
      padding: remify(10px) 0;

      > span {
        vertical-align: middle;
      }
    }
  }

  &-nav__list {
    margin: 0;
    padding: 0;
  }
}
