*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  &.dark {
    .anchor .icon {
      filter: invert(100%);
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background) !important;
  color: var(--color-text) !important;
}

a {
  color: var(--color-text);
}

.anchor {
  position: absolute;
  top: 50%;
  left: remify(-40px);
  transform: translate(0, -50%);
  transition: opacity 250ms ease 0s;
  opacity: 0;

  @include respond-to(md) {
    left: remify(-34px);
  }

  &:focus,
  &:focus-visible,
  h2:hover &,
  h3:hover & {
    opacity: 0.6;
  }

  &:focus,
  &:focus-visible {
    outline: 2px auto var(--color-white);
    outline-offset: 2px;
  }

  .icon {
    display: block;
    width: remify(24px);
    height: remify(24px);
    background-image: url('/anchor.svg');
    background-size: remify(24px);
  }
}

.layout-section {
  padding: remify(50px) 0;
}