@import '../../styles/globals.scss';

.category {
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;
    padding: remify(2px) remify(8px);
    margin: 0 remify(8px) remify(8px) 0;
    font-size: remify(13px);
    background-color: var(--color-card-background);
    border-radius: remify(4px);

    &:last-child {
      margin-right: 0;
    }
  }
}