@import '../../styles/globals.scss';

.category {
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    display: inline-block;
    margin: 0 remify(8px) remify(8px) 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &--default {
    .category__item {
      padding: remify(2px) remify(8px);
      background-color: var(--color-card-background);
      border-radius: remify(4px);

      &:hover {
        color: var(--color-dark-blue);
      }
    }
  }

  &--sharp {
    @include respond-to(sm) {
      text-align: right;
    }
  }
}