@import '../../styles/globals.scss';

.post-card {
  &__item,
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__item,
  &__title {
    transition: var(--transition);
  }
  
  &__item {
    height: 100%;
    flex-direction: column;
    padding: remify(24px) remify(28px);
    border-radius: remify(10px);
    box-shadow: 0 remify(10px) remify(30px) remify(-15px) var(--color-card-shadow);
    background-color: var(--color-card-background);

    &:hover {
      transform: translateY(-5px);

      .post-card__title {
        color: var(--color-title);
      }
    }
  }

  &__footer {
    margin-top: remify(20px);
    align-items: flex-start;
    flex-direction: column;

    @include respond-to(sm) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__date {
    width: 100%;
    max-width: remify(75px);
    margin-right: remify(20px);
  }

  &__category {
    padding: 0 !important;
    margin: 0 remify(8px) 0 0 !important;
    line-height: normal;
  }
}