@import '../../styles/globals.scss';

.list {
  list-style: initial;
  padding-left: remify(20px);
  
  &.unordered {
    li {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23" + $darkBlue + "' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
        background-repeat: no-repeat;
        padding-right: remify(30px);
      }
    }
  }

  &.ordered {
    --counter-name: counts;
    counter-reset: var(--counter-name);

    li {
      counter-increment: var(--counter-name);

      &::before {
        content: counters(var(--counter-name),'.') '. ';
        color: var(--color-dark-blue);
        font-weight: 500;
        padding-right: remify(4px);
      }
    }
  }
}
