@mixin heading-1 {
  font-size: remify(34px);
  line-height: remify(40px);

  @include respond-to(sm) {
    font-size: remify(38px);
    line-height: remify(44px);
  }
}

@mixin heading-2 {
  font-size: remify(32px);
  line-height: remify(38px);

  @include respond-to(sm) {
    font-size: remify(36px);
    line-height: remify(42px);
  }
}

@mixin heading-3 {
  font-size: remify(28px);
  line-height: remify(34px);

  @include respond-to(sm) {
    font-size: remify(32px);
    line-height: remify(38px);
  }
}

@mixin heading-4 {
  font-size: remify(24px);
  line-height: remify(30px);

  @include respond-to(sm) {
    font-size: remify(28px);
    line-height: remify(34px);
  }
}

@mixin heading-5 {
  font-size: remify(20px);
  line-height: remify(26px);

  @include respond-to(sm) {
    font-size: remify(24px);
    line-height: remify(30px);
  }
}

@mixin heading-6 {
  font-size: remify(16px);
  line-height: remify(22px);

  @include respond-to(sm) {
    font-size: remify(18px);
    line-height: remify(24px);
  }
}
