@import '../../styles/globals.scss';

.quote {
  position: relative;
  margin: remify(40px) 0 remify(30px);
  padding: 0 remify(40px);
  width: fit-content;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    opacity: 0.25;
    font-family: sans-serif;
    font-size: remify(80px);
    font-weight: bold;
  }

  &::before {
    content: '“';
    left: 0;
  }

  &::after {
    content: '”';
    right: 0;
  }

  p {
    margin: 0;
    font-style: italic;
    font-weight: 500;
  }
}
